@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import "./styles/global-responsive.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f5f6fa;
  color: #111827;
}

/* pastikan tidak ada zoom / scale global */
* {
  box-sizing: border-box;
}