VITE_API_BASE_URL=http://127.0.0.1:8000/api
VITE_AUTH_LOGIN_ENDPOINT=/login
VITE_AUTH_REGISTER_ENDPOINT=/register
VITE_AUTH_LOGOUT_ENDPOINT=/logout
VITE_AUTH_FORGOT_PASSWORD_ENDPOINT=/forgot-password
VITE_AUTH_VALIDATE_RESET_TOKEN_ENDPOINT=/forgot-password/validate-token
VITE_AUTH_RESET_PASSWORD_ENDPOINT=/reset-password
VITE_AUTH_GOOGLE_ENDPOINT=/auth/google
VITE_AUTH_GOOGLE_TOKEN_ENDPOINT=/auth/google/token
VITE_GOOGLE_CLIENT_ID=
